@value primaryFontColorButton, primaryBackgroundColor from '../../styles/variables';

.primary {
  composes: normal from '../button-default/styles';
  color: primaryFontColorButton;
  box-shadow: inset -1px -1px 0 0 #006ec1,inset 1px 1px 0 0 #006ec1;
  background-color: primaryBackgroundColor;
}
