@after-module './variables';
@after-module './fonts';

/*.button {
  background-color: var(--primaryBackgroundColor);
  color: var(--fontColorButton);
  padding: var(--paddingButton);
  font-weight: var(--fontWeightButton);
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}*/
