/* styles for poc-css-modules/styles/variables.css */


/* styles for poc-css-modules/styles/fonts.css */
@font-face {
  font-family: 'H';
  font-weight: normal;
  font-style: normal;
  src: url('res/fonts/HelveticaNeueW01-55Roma.eot');
  src: url('res/fonts/HelveticaNeueW01-55Roma.eot?#iefix') format('embedded-opentype'),
  url('res/fonts/HelveticaNeueW01-55Roma.woff') format('woff'),
  url('res/fonts/HelveticaNeueW01-55Roma.ttf') format('truetype'),
  url('res/fonts/HelveticaNeueW01-55Roma.svg#HelveticaNeueW01-55Roma') format('svg');
}

@font-face {
  font-family: 'HL';
  font-weight: normal;
  font-style: normal;
  src: url('res/fonts/HelveticaNeueW01-45Ligh.eot');
  src: url('res/fonts/HelveticaNeueW01-45Ligh.eot?#iefix') format('embedded-opentype'),
  url('res/fonts/HelveticaNeueW01-45Ligh.woff') format('woff'),
  url('res/fonts/HelveticaNeueW01-45Ligh.ttf') format('truetype'),
  url('res/fonts/HelveticaNeueW01-45Ligh.svg#HelveticaNeueW01-45Ligh') format('svg');
}

@font-face {
  font-family: 'HM';
  font-weight: normal;
  font-style: normal;
  src: url('res/fonts/HelveticaNeueW01-65Medi.eot');
  src: url('res/fonts/HelveticaNeueW01-65Medi.eot?#iefix') format('embedded-opentype'),
  url('res/fonts/HelveticaNeueW01-65Medi.woff') format('woff'),
  url('res/fonts/HelveticaNeueW01-65Medi.ttf') format('truetype'),
  url('res/fonts/HelveticaNeueW01-65Medi.svg#HelveticaNeueW01-65Medi') format('svg');
}

@font-face {
  font-family: 'SB';
  font-weight: normal;
  font-style: normal;
  src: url('res/fonts/bbvaweb-book.eot');
  src: url('res/fonts/bbvaweb-book.eot?#iefix') format('embedded-opentype'),
  url('res/fonts/bbvaweb-book.woff') format('woff'),
  url('res/fonts/bbvaweb-book.ttf') format('truetype'),
  url('res/fonts/bbvaweb-book.svg#bbvaweb-book') format('svg');
}

@font-face {
  font-family: 'SL';
  font-weight: normal;
  font-style: normal;
  src: url('res/fonts/bbvaweb-light.eot');
  src: url('res/fonts/bbvaweb-light.eot?#iefix') format('embedded-opentype'),
  url('res/fonts/bbvaweb-light.woff') format('woff'),
  url('res/fonts/bbvaweb-light.ttf') format('truetype'),
  url('res/fonts/bbvaweb-light.svg#bbvaweb-light') format('svg');
}

@font-face {
  font-family: 'icon-font';
  font-weight: normal;
  font-style: normal;
  src: url('res/iconfonts/new-icon-font/fonts/new-buzz-fontface.eot');
  src: url('res/iconfonts/new-icon-font/fonts/new-buzz-fontface.eot?#iefix') format('embedded-opentype'),
  url('res/iconfonts/new-icon-font/fonts/new-buzz-fontface.woff') format('woff'),
  url('res/iconfonts/new-icon-font/fonts/new-buzz-fontface.ttf') format('truetype'),
  url('res/iconfonts/new-icon-font/fonts/new-buzz-fontface.svg#bbvaweb-light') format('svg');
}

/* styles for poc-css-modules/styles/app.css */
/*.button {
  background-color: var(--primaryBackgroundColor);
  color: var(--fontColorButton);
  padding: var(--paddingButton);
  font-weight: var(--fontWeightButton);
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}*/

/* styles for poc-css-modules/components/button-default/styles.css */
._normal_fgpil5 {
  border-radius: 0;
  line-height: 1em;
  height: 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-family: 'SB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.0315em;
  color: #FFF;
  background-color: #006ec1;
  box-shadow: inset -1px -1px 0 0 transparent, inset 1px 1px 0 0 transparent;
  cursor: pointer;
}

/* styles for poc-css-modules/components/button-primary/styles.css */
._primary_ldflry {
  color: #006ec1;
  box-shadow: inset -1px -1px 0 0 #006ec1,inset 1px 1px 0 0 #006ec1;
  background-color: #fff;
}

/* styles for poc-css-modules/components/button-process/styles.css */
._process_b07psp {
  background: linear-gradient(#fff, #f3f5f7);
  box-shadow: inset -1px -1px 0 0 #b6ceea, inset 1px 1px 0 0 #b6ceea;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  color: #006ec1;
}

._icon_b07psp {
  width: 1em;
  height: 1em;
  display: inline-block;
  font-family: 'icon-font'; /* FIXME: import custom font */
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;

  margin-right: 6px;
}
._icon_b07psp:before {
  content: "\E913";
}

/* styles for poc-css-modules/components/button-success/styles.css */
._success_lyelwx {
  background-color: #44a718;
}
