$user: "\e913";
$user-tools: "\e911";
$exit: "\e912";
$phone-contact: "\e900";
$outcoming-call: "\e901";
$info: "\e902";
$card-cvv: "\e903";
$wallet: "\e904";
$email: "\e905";
$products: "\e906";
$global-position: "\e907";
$home: "\e908";
$cog: "\e90b";
$warning: "\e90e";
$directory: "\e90f";
$minor-than: "\e910";
$more-than: "\e914";
$tic: "\e90d";
$cross: "\e90c";
$menu: "\e90a";
$arrow: "\e909";
$arrow-right: "\e915";
